<%= render :partial=>"left_menu" %>
	<div class="span9">
          <div class="hero-unit">

		<% if flash[:notice] %>	
		<div class="alert alert-success">
		  <a class="close" data-dismiss="alert" href="#">×</a>
		    <h4 class="alert-heading">Success!</h4>
		    <%= h(flash[:notice]) %>
		</div>
		<% end %>

<h1>List of all tasks</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Shortly</th>
      <th>Created at</th>
      <th>Starts at</th>
      <th>Deadline</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= link_to task.name, :action => :show, :id => task.id %></td>
        <td><%= task.created_at.strftime('%Y-%m-%d') %></td>
        <td><%= task.created_at.strftime('%Y-%m-%d') %></td>
	<td><%= task.deadline %></td>
        <td>
          <%= link_to 'Destroy', {:action=>:destroy, :id=>task.id}, :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New', new_task_path, :class => 'btn btn-primary' %>
<%= will_paginate(@tasks) %>

		  </div>

    </div><!--/span-->
 </div><!--/row-->
