<%= render :partial=>"left_menu" %>
	<div class="span9">
	  
	  
	    <%= simple_form_for @task, :url => '/tasks/new', :html => { :class => 'well' } do |f| %>
	    <% if flash[:error] %>	
		<div class="alert alert-error">
		  <a class="close" data-dismiss="alert" href="#">×</a>
		    <h4 class="alert-heading">Warning!</h4>
		    <%= h(flash[:error]) %>
		</div>
	      <% end %>
	      
	      <%#= f.association :name %>
	      
	      <%#= f.input :name %>
	      <%= f.input :text, :input_html => { :rows => 10 } %>
	      
	      <%= f.input :is_enabled, :inline_label => 'Yes, Make it enabled' %>
	      <%= f.input :is_frozen, :inline_label => 'Yes, Make it frozen, too' %>
	      <%= f.input :deadline, :as => :ui_date_picker %>
	      <p>P.S Date cannot be today's or yesterday's :)</p>
	      <%= f.submit 'Create Task', :class=>'btn btn-success btn-large' %>
	      <%= f.submit 'Cancel', :class=>'btn btn-danger btn-large' %>
	    <% end %>
        </div><!--/span-->
      </div><!--/row-->
