<%= render :partial=>"left_menu" %>
	<div class="span9">
          <div class="hero-unit">
	    <% if flash[:notice] %>	
	      <div class="alert alert-success">
		<a class="close" data-dismiss="alert" href="#">×</a>
		<h4 class="alert-heading">Success!</h4>
		<%= h(flash[:notice]) %>
	      </div>
	    <% end %>
	      
            <% if @task %>
	      <h1><%= @task.name %></h1>
	      <p>Deadline is <strong><%= @task.deadline %></strong></p>
	      <% if !@task.is_done %>
		<%= simple_form_for @task, :url => { :action => :update, :id =>  @task.id  }, :html => { :class => 'well' } do |f| %>
			  <%= f.submit 'Check as done', :class=>'btn btn-success btn-large' %>
			  <%#= f.submit 'Edit', :class=>'btn btn-warning btn-large' %>
			  <%= f.submit 'Cancel task', :class=>'btn btn-danger btn-large' %>
		<% end %>
	      <% else %>
		This task is done!
	      <% end %>
	    	<% else %>
	      	<h1>I've not any tasks!</h1>
	    	<% end %>
          </div>


        </div><!--/span-->
      </div><!--/row-->
