<!DOCTYPE html>
<html>
<head>
  <title>Task Manager</title>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <% if controller.controller_name == "calendar" %>
    <%= stylesheet_link_tag "event_calendar" %>
    <%= javascript_include_tag "event_calendar" %>
  <% end %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script type="text/javascript">
    $(document).ready(function(){
      $("input.ui-date-picker").datepicker({
              dateFormat: "yy-mm-dd",
              altFormat: "yy-mm-dd"
          });
    });
  </script>
</head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">Task Manager</a>
	<% if user_signed_in? -%>
          <div class="btn-group pull-right">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="icon-user"></i> <%= current_user.email %>
              <span class="caret"></span>
            </a>	
            <ul class="dropdown-menu">
              <li><a href="/main/profile">Profile</a></li>
              <li class="divider"></li>
              <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
            </ul>
          </div>
	
          <div class="nav-collapse">
	      <%= render_navigation :expand_all => true, :renderer => :bootstrap %>
          </div><!--/.nav-collapse -->
        <% end %>
        </div>
      </div>
    </div>


       <%= yield %>

      <hr>

      <footer>
        <p>&copy; Company 2012</p>
      </footer>

    </div><!--/.fluid-container-->

</body>
</html>
